@model RentACar.Web.ViewModels.Account.ChangePasswordViewModel
<div class="form-wrapper">
    <section>
        <form id="account" method="post">
            <h2 class="form-title">Смяна на парола</h2>
            <hr class="divider" />
            <div asp-validation-summary="ModelOnly" class="text-danger validation-summary" role="alert"></div>

            <div class="form-field">
                <input asp-for="@Model.OldPassword" type="password" class="custom-input" autocomplete="current-password" aria-required="true" placeholder=" " />
                <label asp-for="@Model.OldPassword" class="custom-label">Стара парола</label>
                <span asp-validation-for="@Model.OldPassword" class="text-danger validation-message"></span>
            </div>

            <div class="form-field">
                <input asp-for="@Model.NewPassword" class="custom-input" aria-required="true" placeholder=" " />
                <label asp-for="@Model.NewPassword" class="custom-label">Нова парола</label>
                <span asp-validation-for="@Model.NewPassword" class="text-danger validation-message"></span>
            </div>

            <div class="form-field">
                <input asp-for="@Model.ConfirmPassword" class="custom-input" aria-required="true" placeholder=" " />
                <label asp-for="@Model.ConfirmPassword" class="custom-label">Потвърди новата парола</label>
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger validation-message"></span>
            </div>


            <div class="form-field">
                <button id="login-submit" type="submit" class="custom-button">Промени паролата</button>
            </div>

        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

