@model IEnumerable<RentACar.Web.ViewModels.Car.CarInformationViewModel>
<div class="container mt-5">
    <h2 class="text-center text-warning mb-4">Менажиране на автомобили</h2>
    <hr class="divider bg-light mb-4" />
    @{
        if ((bool?)TempData[ShowPrivateOptions] == true)
        {
            <div class="d-flex justify-content-end mb-3">
                <a href="@Url.Action("AddCar", "Car", new { area = "Admin" })" class="btn btn-success">
                    <i class="fa-solid fa-plus me-2"></i> Добави нова кола
                </a>
            </div>
        }
    }
    <div class="table-responsive">
        <table class="table table-dark table-hover table-bordered align-middle">
            <thead class="thead-light">
            <tr>
                <th scope="col" class="text-center">Марка</th>
                <th scope="col" class="text-center">Модел</th>
                <th scope="col" class="text-center">Конски сили</th>
                <th scope="col" class="text-center">Година на производство</th>
                <th scope="col" class="text-center">Град</th>
                <th scope="col" class="text-center">Регистрационен номер</th>
                <th scope="col" class="text-center">Наета ли е?</th>
                @{
                    if ((bool?)TempData[ShowPrivateOptions] == true)
                    {
                        <th scope="col" class="text-center">Действия</th>
                    }
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td class="text-center">@car.Brand</td>
                    <td class="text-center">@car.Model</td>
                    <td class="text-center">@car.HorsePower</td>
                    <td class="text-center">@car.YearOfManufacture</td>
                    <td class="text-center">@car.City</td>
                    <td class="text-center">@car.RegistrationNumber</td>
                    <td class="text-center">
                        @if (car.IsHired)
                        {
                            <span class="badge bg-danger">Да</span>
                        }
                        else
                        {
                            <span class="badge bg-success">Не</span>
                        }
                    </td>
                    @{
                        if ((bool?)TempData[ShowPrivateOptions] == true)
                        {
                            <td class="text-center">
                                <a href="@Url.Action("EditCar", "Car", new {id = @car.Id})" class="btn btn-outline-info btn-sm me-2">
                                    <i class="fa-solid fa-pen"></i> Промяна
                                </a>
                                <form class="d-inline">
                                    <button 
                                        onclick="ConfirmAction('@Url.Action("DeleteCar", "Car", new { id = car.Id, area = "Admin" })', '@($"{car.Brand} {car.Model}".Replace("'", "\\'"))')" 
                                        type="button" 
                                        class="btn btn-outline-danger btn-sm">
                                        <i class="fa-solid fa-trash"></i> Изтрий
                                    </button>

                                </form>
                            </td>
                        }
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<script src="~/js/alert.js" asp-append-version="true"></script>
